@use "../../scss/" as *;

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}
.movie-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px !important;
  position: relative;
  padding: 0 2rem;

  &__poster{
    flex: 1;

    @include mobile{
      display: none;
    }
  }
}
.movie-content__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding-top: 165%;
}
.movie-content__info {
  width: 70%;
  padding-left: 2rem;
  position: relative;

  @include mobile {
    width: 100%;
    padding-left: 0;
  }

  .title {
    font-size: 4rem;
    line-height: 1;
  }
  .genres{
    margin: 2rem 0;
    & > * ~{
      margin-left: 0.5rem;
    }
    span{
      padding: 0.5rem 1.5rem;
      border: 2px solid $while;
      border-radius: 20px;
      font-size: 0.8rem;
      font-weight: 600;
      background-color: $body-bg;
      margin: 1rem;

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.casts{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(90px,1fr));
  gap: 10px;
}
.cast__item {

  .carst__item-img{
    padding-top: 160px;
    background-size: cover;
    margin-bottom: 0.5rem;
  }
  p{
    font-size: 0.8rem;
  }
}
.video {
  margin-bottom: 3rem;

  h2{
    margin-bottom: 1.5rem;
  }
}